.title p{
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 40px;
  }

.imgflexBox {
  display: flex;
  flex-direction: row;
}

.imgflexBoxRev {
  display: flex;
    flex-direction: row-reverse;
    border: black;
    border-style: ridge;
}

.imgflexBox img {
  margin: 20px;
  width: 20vh;
  height: 30vh;
  box-shadow: 10px 1px 5px grey;
}
.imgflexBoxRev img {
  margin: 20px;
  width: 20vh;
  height: 30vh;
  box-shadow: 10px -1px -5px grey;
}

.title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: unset;
}
.text {
  display: flex;
  flex-direction: column;
}

.listDesc div {
  display: flex;
  flex-direction: row;
}

.listItems li {
  padding :5px;
  list-style-type: none;
}