body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
.navigationBar{
    overflow: hidden;
    background-color: #5CDB95;
}

.navigationBar a {
    float: left;
    color: #05386B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigationBar a:hover {
    background-color: #EDF5E1;
    color: black;
  }

.navigationBar a.active {
    background-color: #05386B;
    color: #EDF5E1;
  }

.navigationBar input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

footer {
  bottom: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
  }