@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:16px;
    text-decoration: none;
    color: #edf0f1;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#323A45;
}

.logo {
    position: relative;
    left: 103px;
    cursor :pointer;
    height: 25px;
    width:50px;
}

.navlinks {
    list-style: none;
    position: relative;
    left: 20vw;
}
.navlinks li{
     display: inline-block;
     padding: 0px 20px;
}

.navlinks li a:hover{
   color: #9147ff;
}
.button {
    position: relative;
    right : 11.5vw;
    height: 50px;
    width: 179px;
    background-color: #9147ff;
    border:none;
    cursor:pointer;
    transition: all 0.3 ease 0s;
    border-radius: 4px;
}
.button:hover{
    background-color: #9147ff;
}

.search {
    border: 1px solid gray;
    border-radius : 5px;
    height: 3vh;
    width: 20vw;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color : #f5f5f5;
}
.search:hover, .search:focus {
    border: 2px solid #9147ff;
    background-color: white;
}
.searchBar {
    position : relative;
    display : flex;
    min-width : 100px;
}

.searchIcon {
    position: absolute;
    top: 7px;
    left:4px;
    width:25px;
}



